body{
  width : 1020px;
}

#page_actions{
  width : 150px;
  float : left;  
  margin-right : 1em;
}

#page_content{
  width : 850px;
  float : right;
}

#loader{
    margin-top : 1em;
    margin-bottom : 1em;
}

#page_actions legend{
    font-family:arial;
    font-size: 10pt;
}

#page_actions button, input{
    width : 120px;
}

#sources_text{
    display : none;
}
